<div id="introduction" class="container">

  <div class="jumbotron">
    <div class="row">
      <script src='https://jinshuju.net/f/fayflU/embedded.js?banner=show&height=851'></script>
    </div>
  </div>
</div>