<div id="casesintro" class="container">


<div class="panel-group" id="cases">
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse-ap">
        >> AP考试成绩榜单（部分）
      </a>
    </h4>
  </div>
  <div id="collapse-ap" class="panel-collapse collapse">
    <div class="panel-body">
      <table class="table table-condensed table-bordered course-list">
        <thead>
        <tr>
          <th>姓名</th>
          <th>教育背景</th>
          <th>考试成绩</th>
          <th>录取学校</th>
        </tr>
        </thead>
        <tbody>
        <tr class="success">
          <td>李同学</td>
          <td>美国某高中</td>
          <td>Calculus BC, physics B, chemistry, computer scienceAB 各科均为5分</td>
          <td>普林斯顿大学</td>
        </tr>
        <tr class="success">
          <td>孙同学</td>
          <td>人大附中</td>
          <td>Calculus AB, physics B, chemistry, Macroeconomics, biology 各科均5分</td>
          <td>康奈尔大学</td>
        </tr>
        <tr class="success">
          <td>李同学</td>
          <td>人大附中</td>
          <td>Calculus BC, physics C, chemistry, Psychology, Microeconomics 各科均5分</td>
          <td>哈佛大学</td>
        </tr>
        <tr class="success">
          <td>王同学</td>
          <td>北京十一中学</td>
          <td>Calculus BC, physics C, Bioloy, Psychology, Microeconomics 各科均5分</td>
          <td>耶鲁大学</td>
        </tr>

        <tr class="success">
          <td>于同学</td>
          <td>北师大附中</td>
          <td>Calculus BC, physics C, Statistics, Macroeconomics 各科均5分| Environmental Science 4分</td>
          <td>哥伦比亚大学</td>
        </tr>

        <tr class="success">
          <td>田同学</td>
          <td>美国某高中</td>
          <td>Calculus BC, physics C, computer scienceAB, UnitedStatesHistory 各科均5分</td>
          <td>芝加哥大学</td>
        </tr>

        <tr class="success">
          <td>杨同学</td>
          <td>北京四中</td>
          <td>Calculus AB, physics B, Bioloy, chemistry 各科均5分 | Microeconomics 4分</td>
          <td>宾夕法尼亚大学</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse-alevel">
        >> A-level成绩榜单（部分）
      </a>
    </h4>
  </div>
  <div id="collapse-alevel" class="panel-collapse collapse">
    <div class="panel-body">
      <table class="table table-condensed table-bordered course-list">
        <thead>
        <tr>
          <th>姓名</th>
          <th>教育背景</th>
          <th>考试成绩</th>
          <th>录取学校</th>
        </tr>
        </thead>
        <tbody>
        <tr class="success">
          <td>王同学</td>
          <td>北京爱迪学校</td>
          <td>基础数学\物理均为A*，化学\生物为A</td>
          <td>帝国理工学院</td>
        </tr>
        <tr class="success">
          <td>赵同学</td>
          <td>英国某高中</td>
          <td>基础数学\商科\计算机科学均为A*</td>
          <td>剑桥大学</td>
        </tr>
        <tr class="success">
          <td>李同学</td>
          <td>人大附中</td>
          <td>基础数学\经济学\均为A*，生物学为A</td>
          <td>康奈尔大学</td>
        </tr>
        <tr class="success">
          <td>杨同学</td>
          <td>人大附中</td>
          <td>基础数学为A*,物理\化学\经济均为A</td>
          <td>杜伦大学</td>
        </tr>

        <tr class="success">
          <td>王同学</td>
          <td>北京八十中</td>
          <td>基础数学\化学均为A*，计算机科学\生物为A</td>
          <td>芝加哥大学</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse-sat">
        >> SAT成绩榜单（部分）
      </a>
    </h4>
  </div>
  <div id="collapse-sat" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="media-body">
        <table class="table table-condensed table-bordered course-list">
          <thead>
          <tr>
            <th>姓名</th>
            <th>教育背景</th>
            <th>考试成绩</th>
            <th>录取学校</th>
          </tr>
          </thead>
          <tbody>
          <tr class="success">
            <td>王同学</td>
            <td>人大附中</td>
            <td>SAT2 2360分、SAT2数学、物理各800分</td>
            <td>宾夕法尼亚大学</td>
          </tr>
          <tr class="success">
            <td>李同学</td>
            <td>首师大附中</td>
            <td>SAT 2380分</td>
            <td>康奈尔大学</td>
          </tr>
          <tr class="success">
            <td>张同学</td>
            <td>十一学校</td>
            <td>SAT 2320分、SAT2数学、化学各800分</td>
            <td>哥伦比亚大学</td>
          </tr>
          <tr class="success">
            <td>王同学</td>
            <td>潞河中学</td>
            <td>SAT 2320分</td>
            <td>约翰霍普金斯大学</td>
          </tr>

          <tr class="success">
            <td>唐同学</td>
            <td>北京八中</td>
            <td>SAT 2360分</td>
            <td>康奈尔大学</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
</div>