<div id="classintro" class="container">


  <div class="panel-group" id="courses">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-ap">
            >> 2014年AP培训课
          </a>
        </h4>
      </div>
      <div id="collapse-ap" class="panel-collapse collapse">
        <div class="panel-body">
            <h6>Wisdom威斯特国际教育AP课程设置，根据不同学校的课程设置和不同学生的知识基础，因材施教，查漏补缺，注重知识结构的梳理和思维习惯的培养。</h6>
            <h6>免费配套精编内部讲义，历年真题实战训练。</h6>
            <h6>帮助学员轻松过关，顺利考5分！</h6>

            <table class="table table-condensed table-bordered course-list">
              <thead>
              <tr>
                <th>课程名称</th>
                <th>适合学生群</th>
                <th>时间（周一至日全天）</th>
              </tr>
              </thead>
              <tbody>
              <tr class="success">
                <td>AP 微积分AB</td>
                <td rowspan="13">出国留学高中生</td>
                <td rowspan="13">随报随学</td>
              </tr>
              <tr class="success">
                <td>AP 微积分BC</td>
              </tr>
              <tr class="success">
                <td>AP 统计学</td>
              </tr>
              <tr class="success">
                <td>AP 物理 B</td>
              </tr>
              <tr class="success">
                <td>AP 物理 C</td>
              </tr>
              <tr class="success">
                <td>AP 化学</td>
              </tr>
              <tr class="success">
                <td>AP 生物</td>
              </tr>
              <tr class="success">
                <td>AP微观经济学</td>
              </tr>
              <tr class="success">
                <td>AP宏观经济学</td>
              </tr>
              <tr class="success">
                <td>AP 心理学</td>
              </tr>
              <tr class="success">
                <td>AP 计算机科学</td>
              </tr>
              <tr class="success">
                <td>AP 美国历史</td>
              </tr>
              <tr class="success">
                <td>AP 世界历史</td>
              </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-alevel">
            >> 2014年A-Level考试培训课
          </a>
        </h4>
      </div>
      <div id="collapse-alevel" class="panel-collapse collapse">
        <div class="panel-body">
            <h6>Wisdom威斯特国际教育A-Level课程设置，根据不同学校的课程设置和不同学生的知识基础，因材施教，查漏补缺，注重知识结构的梳理和思维习惯的培养。</h6>
            <h6>免费配套精编内部讲义，历年真题实战训练,免费提供教室自习、老师免费答疑。</h6>
            <h6>帮助学员轻松过关，顺利考A*！</h6>

            <table class="table table-condensed table-bordered course-list">
              <thead>
              <tr>
                <th>课程名称</th>
                <th>适合学生群</th>
                <th>时间（周一至日全天）</th>
              </tr>
              </thead>
              <tbody>
              <tr class="success">
                <td>AS数学</td>
                <td rowspan="6">国内高一A-Level学生</td>
                <td rowspan="6">随报随学</td>
              </tr>
              <tr class="success">
                <td>IGCSE物理</td>
              </tr>
              <tr class="success">
                <td>IGCSE化学</td>
              </tr>
              <tr class="success">
                <td>IGCSE生物</td>
              </tr>
              <tr class="success">
                <td>IGCSE商学</td>
              </tr>
              <tr class="success">
                <td>IGCSE会计</td>
              </tr>
              <tr class="success">
                <td>A2数学</td>
                <td rowspan="7">国内高二A-Level学生</td>
                <td rowspan="7">随报随学</td>
              </tr>

              <tr class="success">
                <td>AS物理</td>
              </tr>
              <tr class="success">
                <td>AS化学</td>
              </tr>
              <tr class="success">
                <td>AS生物</td>
              </tr>
              <tr class="success">
                <td>AS经济</td>
              </tr>
              <tr class="success">
                <td>AS商学</td>
              </tr>
              <tr class="success">
                <td>AS会计</td>
              </tr>
              <tr class="success">
                <td>进阶数学</td>
                <td rowspan="7">国内高三A-Level学生</td>
                <td rowspan="7">随报随学</td>
              </tr>
              <tr class="success">
                <td>A2物理</td>
              </tr>
              <tr class="success">
                <td>A2化学</td>
              </tr>
              <tr class="success">
                <td>A2生物</td>
              </tr>
              <tr class="success">
                <td>A2商学</td>
              </tr>
              <tr class="success">
                <td>A2经济</td>
              </tr>
              <tr class="success">
                <td>A2会计</td>
              </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-cie">
            >> 2014考前冲刺课（针对5月份AP考试、CIE考试）
          </a>
        </h4>
      </div>
      <div id="collapse-cie" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="media-body">
            <h6>内部特色讲义，知识导图与专题讲解并举，梳理知识脉络，整体把握结合重点讲解</h6>
            <h6>以历年考试真题、课后习题为参考题库，紧扣考核要求，强化应试技巧，特别为CIE考试量身设计</h6>
            <h6>独具特色的“知识串讲-专项精练-总结提升” 螺旋进阶教学法，讲练测结合，有效促进知识迁移</h6>
            <h6>教师个性鲜明，课堂气氛轻松愉快，提高学生的学习兴趣和主动性为教学首要方向</h6>
            <h6>免费提供各科内部辅导资料及各科历年真题</h6>

            <table class="table table-condensed table-bordered course-list">
              <tbody>
              <tr class="danger">
                <td>数学</td>
                <td>AP微积分AB&BC、AP统计学、纯数P1、纯数P3、统计、机械、    进阶数学（高数）</td>
              </tr>
              <tr class="danger">
                <td>物理</td>
                <td>AP物理B&C 、IGCSE、AS、A2</td>
              </tr>
              <tr class="danger">
                <td>化学</td>
                <td>AP、IGCSE、AS、A2</td>
              </tr>
              <tr class="danger">
                <td>生物</td>
                <td>AP、IGCSE、AS</td>
              </tr>
              <tr class="danger">
                <td>经济</td>
                <td>AP微观、AP宏观、IGCSE、AS、A2</td>
              </tr>
              <tr class="danger">
                <td>商学</td>
                <td>IGCSE、AS、A2</td>
              </tr>
              <tr class="danger">
                <td>计算机</td>
                <td>AP A&AB、IGCSE、AS</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-ib">
            >> 2014 IB培训课
          </a>
        </h4>
      </div>
      <div id="collapse-ib" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="media ib">
            <div class="media-body">
              <h6>wisdom威斯特国际教育IB课程设置，根据不同学校的课程设置和不同学生的知识基础,因材施教，查漏补缺，注重知识结构的梳理和思维习惯的培养</h6>
              <h6>免费配套精编内部讲义，历年真题实战训练。</h6>
              <h6>帮助学员轻松过关，顺利考满分！</h6>

              <table class="table table-condensed table-bordered course-list">
                <thead>
                <tr>
                  <th>课程名称</th>
                  <th>适合学生群</th>
                  <th>时间（周一至日全天）</th>
                </tr>
                </thead>
                <tbody>
                <tr class="success">
                  <td>数学</td>
                  <td rowspan="13">出国留学高中生</td>
                  <td rowspan="13">随报随学</td>
                </tr>
                <tr class="success">
                  <td>物理</td>
                </tr>
                <tr class="success">
                  <td>化学</td>
                </tr>
                <tr class="success">
                  <td>经济</td>
                </tr>
                <tr class="success">
                  <td>商管</td>
                </tr>
                <tr class="success">
                  <td>历史</td>
                </tr>
                <tr class="success">
                  <td>地理</td>
                </tr>
                </tbody>
              </table>
            </div>


          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-sat"
            >> SAT（ACT）考前集训课
          </a>
        </h4>
      </div>
      <div id="collapse-sat" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="media sat">
            <div class="media-body">
              <h6>wisdom威斯特国际教育IB课程设置，根据不同学校的课程设置和不同学生的知识基础,因材施教，查漏补缺，注重知识结构的梳理和思维习惯的培养</h6>
              <h6>免费配套精编内部讲义，历年真题实战训练。</h6>
              <h6>帮助学员轻松过关，顺利考满分！</h6>

              <table class="table table-condensed table-bordered course-list">
                <thead>
                <tr>
                  <th>课程名称</th>
                  <th>适合学生群</th>
                  <th>时间（周一至日全天）</th>
                </tr>
                </thead>
                <tbody>
                <tr class="success">
                  <td>SAT I 阅读</td>
                  <td rowspan="13">出国留学高中生</td>
                  <td rowspan="13">随报随学</td>
                </tr>
                <tr class="success">
                  <td>SAT I 数学</td>
                </tr>
                <tr class="success">
                  <td>SAT I写作</td>
                </tr>
                <tr class="success">
                  <td>SAT II 数学</td>
                </tr>
                <tr class="success">
                  <td>SAT II 物理</td>
                </tr>
                <tr class="success">
                  <td>SAT II 化学</td>
                </tr>
                <tr class="success">
                  <td>SAT II 生物</td>
                </tr>
                <tr class="success">
                  <td>SAT II 美国历史</td>
                </tr>
                <tr class="success">
                  <td>SAT II 世界历史</td>
                </tr>
                <tr class="success">
                  <td>ACT 数学</td>
                </tr>
                <tr class="success">
                  <td>ACT英语</td>
                </tr>
                <tr class="success">
                  <td>ACT阅读</td>
                </tr>
                <tr class="success">
                  <td>ACT科学推理</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>
  </div>
  </div>
</div>