<div id="contactus" class="container">



  <div class="jumbotron">

    <div class="row manual-help">
      <div class="col-xs-4">
        <h3>给我们发邮件</h3>
        <p><a href="mailto:wstgjjy@163.com" class="btn btn-default"><i class="fa fa-envelope"></i> wstgjjy@163.com</a></p>
        <p class="subline">我们会尽快给您回复。</p>
      </div>

      <div class="col-xs-4">
        <h3>给我们致电</h3>
        <p><span class="support-line"><i class="fa fa-phone"></i>13141367986</span></p>
        <p class="subline">周一至周五: 09:00 - 18:00</p>
      </div>
      <div class="col-xs-4">
        <h3>给我们发QQ消息</h3>
        <p><span class="support-line"><i class="fa fa-user"></i> 254741565</span></p>
        <p class="subline">我们会尽快给您回复。</p>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12">
        <img class="media-object" src="/img/contactus.jpg">
      </div>

    </div>
  </div>
</div>



</div>