<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img data-src="holder.js/900x500/auto/#FF8700:#7a7a7a/text: " alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>报名即可享受"三免三送"</h1>
          <p>免费诊断学习状态 / 免费制定学习计划 / 免费制定学习计划</p>
          <p>送讲义 / 送词汇宝典 / 送分类真题</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">立刻报名</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/img/slide2.png" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Wisdom开课啦</h1>
          <p>随报随学 / 免费试听 / 不满意不收费</p>
          <p>互动五人组 / 超值十人行</p>
          <p><a class="btn btn-lg btn-success" href="#" role="button">在线咨询</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/img/slide4.png" alt="Second slide" class="img-circle">
      <div class="container">
        <div class="carousel-caption">
          <h1 class="hightlight">Wisdom特色培训模式</h1>
          <p>VIP 一对一 / 良师益友三人组</p>
          <p>互动五人组 / 超值十人行</p>
          <p><a class="btn btn-lg btn-success" href="#" role="button">组队学习</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->



<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-xs-4">
      <h2><img src="/img/laptop.png">课程设置</h2>
      <p>* 内部特色讲义，知识导图与专题讲解并举，梳理知识脉络，整体把握结合重点讲解</p>
      <p>* 以历年考试真题、课后习题为参考题库，紧扣考核要求，强化应试技巧，特别为CIE考试量身设计</p>
      <p>* 独具特色的“知识串讲-专项精练-总结提升” 螺旋进阶教学法，讲练测结合，有效促进知识迁移</p>
      <p>* 教师个性鲜明，课堂气氛轻松愉快，提高学生的学习兴趣和主动性为教学首要方向</p>
      <p>* 免费提供各科内部辅导资料及各科历年真题</p>
    </div><!-- /.col-lg-4 -->

    <div class="col-xs-4">
      <h2><img src="/img/graph.png">成功案例</h2>
      <div class="carousel slide" id="carousel-case">
        <div class="carousel-inner">
          <div class="item active">
            <table class="table">
                <tbody>
                <tr class="active">
                  <td>人大附中--张同学</td>
                  <td>康奈尔大学</td>
                  <td>2013-06-08</td>
                </tr>
                <tr class="success">
                  <td>北师大附中--王同学</td>
                  <td>哥伦比亚大学</td>
                  <td>2013-06-08</td>
                </tr>
                <tr class="warning">
                  <td>北京四中</td>
                  <td>耶鲁大学</td>
                  <td>2013-06-08</td>
                </tr>
                <tr class="active">
                  <td>北京十一中学--李同学</td>
                  <td>耶鲁大学</td>
                  <td>2013年7月</td>
                </tr>
                <tr class="success">
                  <td>北京十中学--陈同学</td>
                  <td>哈佛大学</td>
                  <td>2013-06-08</td>
                </tr>
                <tr class="warning">
                  <td>北京一中--胡同学</td>
                  <td>哈佛大学</td>
                  <td>2013-06-08</td>
                </tr>
                </tbody>
              </table>

          </div>
          <div class="item">
            <table class="table">
              <tbody>
              <tr>
                <td>北京一中--胡同学</td>
                <td>哈佛大学</td>
                <td>2013-06-08</td>
              </tr>
              <tr class="success">
                <td>北师大附中--王同学</td>
                <td>哥伦比亚大学</td>
                <td>2013-06-08</td>
              </tr>
              <tr class="active">
                <td>北京十一中学--李同学</td>
                <td>耶鲁大学</td>
                <td>2013年7月</td>
              </tr>
              <tr class="warning">
                <td>北京四中</td>
                <td>耶鲁大学</td>
                <td>2013-06-08</td>
              </tr>
              <tr class="active">
                <td>人大附中--张同学</td>
                <td>康奈尔大学</td>
                <td>2013-06-08</td>
              </tr>
              <tr class="success">
                <td>北京十中学--陈同学</td>
                <td>哈佛大学</td>
                <td>2013-06-08</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="item">
            <table class="table">
              <tbody>
              <tr>
                <td>北京一中--胡同学</td>
                <td>哈佛大学</td>
                <td>2013-06-08</td>
              </tr>
              <tr class="success">
                <td>北师大附中--王同学</td>
                <td>哥伦比亚大学</td>
                <td>2013-06-08</td>
              </tr>
              <tr class="active">
                <td>北京十一中学--李同学</td>
                <td>耶鲁大学</td>
                <td>2013年7月</td>
              </tr>
              <tr class="warning">
                <td>北京四中</td>
                <td>耶鲁大学</td>
                <td>2013-06-08</td>
              </tr>
              <tr class="active">
                <td>人大附中--张同学</td>
                <td>康奈尔大学</td>
                <td>2013-06-08</td>
              </tr>
              <tr class="success">
                <td>北京十中学--陈同学</td>
                <td>哈佛大学</td>
                <td>2013-06-08</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-case" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#carousel-case" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>

    </div><!-- /.col-lg-4 -->
    <div class="col-xs-4">
      <h2><img src="/img/leaf.png">金牌团队</h2>
      <div id="team" class="bs-example">
        <div class="media">
          <a class="pull-left" href="#">
            <!--<img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">-->
          </a>
          <div class="media-body">
            <h4 class="media-heading"><b>数学首席王老师</b></h4>
            <h6>西安交通大学硕士毕业，近年来一直从事国际课程的教学及研究，授课经验丰富，主讲科目为AP、A-level、IB、SAT相关数学课程。</h6>
          </div>
        </div>
        <div class="media">
          <a class="pull-left" href="#">
            <!--<img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">-->
          </a>
          <div class="media-body">
            <h4 class="media-heading"><b>物理老师吴老师</b></h4>
            <h6>大学知名教师，英国高校海归博士，个性开朗，擅于因材施教。专业功底深厚，教学成果丰硕，曾创造上5次课，A-level物理由C到A*的奇迹。</h6>
          </div>
        </div>
      </div>
      <a class="btn btn-success" href="#" role="button">更多 >></a>


    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

  <div class="row manual-help">
    <div class="col-xs-4">
      <h3>给我们发邮件</h3>
      <p><a href="mailto:wstgjjy@163.com" class="btn btn-default"><i class="fa fa-envelope"></i> wstgjjy@163.com</a></p>
      <p class="subline">我们会尽快给您回复。</p>
    </div>

    <div class="col-xs-4">
        <h3>给我们致电</h3>
        <p><span class="support-line"><i class="fa fa-phone"></i>13811145947</span></p>
        <p class="subline">周一至周五: 09:00 - 18:00</p>
    </div>
    <div class="col-xs-4">
        <h3>给我们发QQ消息</h3>
        <p><span class="support-line"><i class="fa fa-user"></i> 254741565</span></p>
        <p class="subline">我们会尽快给您回复。</p>
    </div>
  </div>

  <!-- START THE FEATURETTES -->

  <!--<hr class="featurette-divider">-->

  <!--<div class="row featurette">-->
    <!--<div class="col-md-7">-->
      <!--<h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>-->
      <!--<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>-->
    <!--</div>-->
    <!--<div class="col-md-5">-->
      <!--<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">-->
    <!--</div>-->
  <!--</div>-->

  <!--<hr class="featurette-divider">-->

  <!--<div class="row featurette">-->
    <!--<div class="col-md-5">-->
      <!--<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">-->
    <!--</div>-->
    <!--<div class="col-md-7">-->
      <!--<h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>-->
      <!--<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>-->
    <!--</div>-->
  <!--</div>-->

  <!--<hr class="featurette-divider">-->

  <!--<div class="row featurette">-->
    <!--<div class="col-md-7">-->
      <!--<h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>-->
      <!--<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>-->
    <!--</div>-->
    <!--<div class="col-md-5">-->
      <!--<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">-->
    <!--</div>-->
  <!--</div>-->

  <!--<hr class="featurette-divider">-->
</div>