<div id="introduction" class="container">

  <!--<div class="bs-example jumbotron">-->
    <!--<div class="media">-->
      <!--<a class="pull-left" href=""></a>-->
      <!--<img class="media-object" src="/img/introduction.png">-->

      <!--<div class="media-body">-->
        <!--<h4 class="media-heading"><b>数学首席王老师</b></h4>-->
        <!--<h6>西安交通大学硕士毕业，近年来一直从事国际课程的教学及研究，授课经验丰富，主讲科目为AP、A-level、IB、SAT相关数学课程。</h6>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="media">-->
      <!--<a class="pull-left" href="#">-->
        <!--&lt;!&ndash;<img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">&ndash;&gt;-->
      <!--</a>-->
      <!--<div class="media-body">-->
        <!--<h4 class="media-heading"><b>物理老师吴老师</b></h4>-->
        <!--<h6>大学知名教师，英国高校海归博士，个性开朗，擅于因材施教。专业功底深厚，教学成果丰硕，曾创造上5次课，A-level物理由C到A*的奇迹。</h6>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->


  <div id="introduction" class="jumbotron">
        <div class="row">
          <div class="col-xs-4">
            <img class="media-object" src="/img/introduction.png">
          </div>
          <div class="col-xs-8">
            <div class="container marketing">
              <h2>中心简介</h2>
              <h5><b>Wisdom威斯特国际教育培训中心</b>是拥有丰富教学经验的一流团队，一直致力于“洋高考”国际课程的教学研究与考试培训。成立五年来，已经形成一套针对不同特点的学生制定不同学习方案的人性化教学模式，得到了广大学生与家长的充分认可与支持。</h5>
              <h5>教学团队由大学教授、知名教师、中学教师、海归博士、硕士以上学历人员，通过生动有趣的只是讲解与应试技巧的悉心传授，充分激发了学生的学习兴趣和潜能，为您成功开启国外顶尖高校的梦想之门！ </h5>
              <h5>培训科目涵盖北京地区开设的所有国际高中课程，涉及美国体系的AP / SAT2和英国体系A-level的CIE / Edexcel / AQA / OCR以及其他体系如IB等。</h5>
              <h5>具体包括数学(Maths)、物理(Physics)、化学(Chemistry)、生物学(Biology)、经济学(Economics)、商学(Business)、会计学(Accounting)、信息通信技术(Information
                and communication technology)、心理学（Psychology）等学科。</h5>
              <h5>学生主要来源于北师大附中、人大附中、101中学、十一中学、北京四中、潞河中学等重点中学国际部，王府学校、康福外国语学校、新英才学校等国际学校，以及部分在英国、美国、新加坡就读高中的中国学生。已培养出进入哈佛大学、耶鲁大学、普林斯顿大学、剑桥大学、哥伦比亚大学、帝国理工大学、曼彻斯特大学、香港大学等名校学习的众多优秀学生。</h5>
            </div>
            <p>
              <a class="btn btn-lg btn-primary" role="button">立即体验</a>
            </p>

          </div>
        </div>
      </div>


  <!-- Main component for a primary marketing message or call to action -->

</div>

</div>