<div id="introduction" class="container">

  <div class="jumbotron">
    <div class="row">
      <div class="col-xs-12">
        <div id="team" class="bs-example">
          <div class="media">
            <a class="pull-left" href="#">
              <!--<img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">-->
            </a>
            <div class="media-body">
              <h4 class="media-heading"><b>>> 数学首席王老师</b></h4>
              <h6>数学首席主讲教师，学科负责人，西安交通大学硕士毕业，近年来一直从事国际课程的教学及研究，授课经验丰富，主讲科目为AP、A-level、IB、SAT相关数学课程。</h6>
            </div>
          </div>

          <div class="media">
            <a class="pull-left" href="#">
            </a>
            <div class="media-body">
              <h4 class="media-heading"><b>>> 化学老师唐老师</b></h4>
              <h6>大学副教授，美国高校海归博士，教学经验丰富，课堂气氛活跃，主讲科目为AP、A-level相关化学课程。</h6>
            </div>
          </div>

          <div class="media">
            <a class="pull-left" href="#">
            </a>
            <div class="media-body">
              <h4 class="media-heading"><b>>> 生物老师曾老师</b></h4>
              <h6>美国高校海归博士，大学副教授。对学生细致耐心，责任心强，主讲科目为AP、A-level、IB、SAT2生物课程。</h6>
            </div>
          </div>



          <div class="media">
            <a class="pull-left" href="#">
            </a>
            <div class="media-body">
              <h4 class="media-heading"><b>>> 物理老师吴老师</b></h4>
              <h6>大学知名教师，英国高校海归博士，个性开朗，擅于因材施教，曾创造上5次课，A-level物理由C到A*的奇迹。</h6>
            </div>
          </div>

          <div class="media">
            <a class="pull-left" href="#">
              <!--<img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">-->
            </a>
            <div class="media-body">
              <h4 class="media-heading"><b>>> 经济老师汪老师</b></h4>
              <h6>毕业于首都外经济贸易大学博士毕业，2013年北京市高等学校青年英才计划入选者。专业功底深厚，教学成果丰硕。擅长教授AP、A-level相关经济、商学课程。</h6>
            </div>
          </div>


          <div class="media">
            <a class="pull-left" href="#">
              <!--<img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">-->
            </a>
            <div class="media-body">
              <h4 class="media-heading"><b>>> 计算机老师赵老师</b></h4>
              <h6>清华大学博士毕业，大学副教授，教学风格严谨认真，帮助许多基础较差的同学一举获得好成绩，擅长AP Computer Science、A-level  ICT课程教授。</h6>
            </div>
          </div>


          <div class="media">
            <a class="pull-left" href="#">
              <!--<img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">-->
            </a>
            <div class="media-body">
              <h4 class="media-heading"><b>>> 历史老师杨老师</b></h4>
              <h6>北京大学历史系硕士毕业，大学知名讲师，以讲故事的形式将世界史、欧洲史、美国历史重要考点深入浅出的娓娓道来，颇受学生尊敬和喜爱，主讲科目为AP、A-level中的历史相关课程。
              </h6>
            </div>
          </div>

          <div class="media">
            <a class="pull-left" href="#">
              <!--<img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">-->
            </a>
            <div class="media-body">
              <h4 class="media-heading"><b>>> 心理学老师赵老师</b></h4>
              <h6>大学知名副教授，大学在校生心理学咨询顾问，注册心理咨询师，教学经验丰富，待人亲切和蔼，主讲科目为AP心理学。</h6>
            </div>
          </div>

          <div class="media">
            <a class="pull-left" href="#">
              <!--<img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">-->
            </a>
            <div class="media-body">
              <h4 class="media-heading"><b>>> 英语老师张老师</b></h4>
              <h6>北京外国语大学硕士毕业，大学副教授，教龄15年，教学方法独特，连续多年被评为北京市优秀青年骨干教师，长期担任北京市口语等级证书考试高级考官、“全国公共英语”（PETS）考官、“北京英语水平考试”（BETS）考官。并获得由北京市教育考试院授予的“2004-2005年优秀考官”称号。</h6>
            </div>
          </div>

        </div>
      </div><!-- /.col-lg-4 -->

    </div>
  </div>
</div>

</div>